										<input type="hidden" name="id" value="${knowledgeInfo.id}">
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">版本：</label>
										<div class="col-sm-7">
						<input name="bookName" value="${knowledgeInfo.bookName}" style="width:200px;"
									type="text" class="input-small" /> 
										</div>

</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">模块：</label>
										<div class="col-sm-7">
									<input name="modela" value="${knowledgeInfo.modela}" style="width:200px;"
									type="text" class="input-small" /> 
										</div>

</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">章：</label>
										<div class="col-sm-7">
								<input name="chapter" value="${knowledgeInfo.chapter}" style="width:200px;"
									type="text" class="input-small" />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">

										<label class="col-sm-3 control-label no-padding-right">节：</label>
										<div class="col-sm-7">
								<input name="section" value="${knowledgeInfo.section}" style="width:200px;"
									type="text" class="input-small" />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">知识点：</label>
										<div class="col-sm-7">
								<input name="knowledge" value="${knowledgeInfo.knowledge}" style="width:200px;" 
									type="text" class="input-small" />
										</div>
</div>
<div class="space-4"></div>

