<input type="hidden" name="id" value="${classInfo.id}">
<div class="from-group">
	<label class="col-sm-3 control-label no-padding-right">班级号：</label>
	<div class="col-sm-7">
		<input name="classNo" value="${classInfo.classNo}" type="text" class="input-small" />
	</div>

</div>
<div class="space-4"></div>
<div class="from-group">
	<label class="col-sm-3 control-label no-padding-right">年级：</label>
	<div class="col-sm-7">
		<input name="classGrade" value="${classInfo.classGrade}" type="text" class="input-small" />
	</div>
</div>
<div class="space-4"></div>
<div class="from-group">

	<label class="col-sm-3 control-label no-padding-right">学校编号：</label>
	<div class="col-sm-7">
		<input name="schoolNo" value="${classInfo.schoolNo}" type="text" class="input-small" />
	</div>
</div>
<div class="space-4"></div>
<div class="from-group">
	<label class="col-sm-3 control-label no-padding-right">目前在任老师工号：</label>
	<div class="col-sm-7">
		<input name="teacherNo" value="${classInfo.teacherNo}" type="text" class="input-small" />
	</div>
</div>
<div class="space-4"></div>