<!DOCTYPE html>
<html lang="en">
<head>
<meta name="decorator" content="default" />
<title>学校信息管理</title>
</head>

<body>

	<div class="page-content">
		<div class="page-header">
			<h1>学校信息管理</h1>
		</div>
		<!-- /.page-header -->
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<form class="form-inline" action="${ctx}/school/search"
					method="post">
					<div class="row">
						<div class="col-xs-12 col-sm-8">
							<div class="input-group">
								编号：<input name="schoolNo" value="${schoolInfo.schoolNo}"
									type="text" class="input-small" /> 
								名称：<input name="schoolName" value="${schoolInfo.schoolName}" 
									type="text" class="input-small" />
								地址：<input name="address" value="${schoolInfo.address}" 
									type="text" class="input-small" />
								邮政编码：<input name="postalCode" value="${schoolInfo.postal_code}" 
									type="text" class="input-small" />
									&nbsp;	
								<button type="submit" class="btn btn-purple btn-sm">
									查询 <i class="icon-search icon-on-right bigger-110"></i>
								</button>		
								<button class="btn btn-sm btn-purple get_province_list" data-toggle="modal"
									data-target="#add_school-modal">
									<i class="icon-edit bigger-120"></i>增加新学校
								</button>
								<button class="btn btn-sm btn-purple" data-toggle="modal"
									data-target="#import_school-modal">
									<i class="icon-edit bigger-120"></i>批量导入学校
								</button>
<!-- 								<button class="btn btn-sm btn-purple" data-toggle="modal"
									data-target="#import_class-modal">
									<i class="icon-edit bigger-120"></i>批量导入班级
								</button> -->
							</div>
						</div>
					</div>
				</form> 
	<div id="import_school-modal" class="modal fade" tabindex="-1"
		role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="blue bigger">批量导入学校</h4>
				</div>
				<div class="modal-body overflow-visible">
					<form class="form-inline"
						action="${ctx}/school/import" 
						id="import_school-form" method="post">
<!--                            <div class="ace-file-input ace-file-multiple">
                              <input multiple="" type="file" id="id-input-file" name="file" />
                              <a class="remove" href="#">
                                <i class="icon-remove"></i>
                              </a>
                          </div> --> 
                    			<div class="form-group" id="school-upload">
									<label class="col-sm-5 control-label no-padding-right">导入学校:</label>
									<div class="col-sm-7">
										<input class="input-file uniform_on"
											id="school-file" type="file"/> 
									</div>
								</div>
								<input type="hidden" id="school-fileUrl" name="school_import_uri">	
						
                    </form>						
					
				</div>
				<div class="modal-footer">
					<div class="btn btn-sm">
                          <a class="btn btn-sm btn-primary" id="btn-download_school" href="${ctx}/static/down/addressCode.xls">请先下载地区地址码</a>
                    </div>
                     <div class="btn btn-sm">
                          <a class="btn btn-sm btn-primary" id="btn-download_school" href="${ctx}/static/down/school.xls">下载模板</a>
                    </div>

					<button class="btn btn-sm"
						onclick="$('#import_school-form').submit();" id="btn-upload">
						<i class="icon-ok"></i> 上传
					</button>
					<button class="btn btn-sm" data-dismiss="modal">
						<i class="icon-remove"></i> 取消
					</button>  
				</div>
			</div>
		</div>
	</div>	
	<div id="import_teacher-modal" class="modal fade" tabindex="-1"
		role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="blue bigger">批量导入教师</h4>
				</div>
				<div class="modal-body overflow-visible">
					<form class="form-inline"
						action="${ctx}/teacher/import" 
						id="import_teacher-form" method="post">

                    			<div class="form-group" id="teacher-upload">
									<label class="col-sm-5 control-label no-padding-right">导入教师:</label>
									<div class="col-sm-7">
										<input class="input-file uniform_on"
											id="teacher-file" type="file"/> 
									</div>
								</div>
								<input type="hidden" id="teacher-fileUrl" name="teacher_import_uri">	
								<input type="hidden" id="teacher-school_id" name="teacher_school_id">	
						
                    </form>						
					
				</div>
				<div class="modal-footer">

                     <div class="btn btn-sm">
                     	<form class="form-inline"
						action="${ctx}/teacher/export" 
							id="export_teacher-form" method="post">
								<input type="hidden" id="export_school_id" name="export_school_id">	
                    	</form>		
                    	<button class="btn btn-sm btn-primary"
						onclick="$('#export_teacher-form').submit();" id="btn-upload">
						<i class="icon-ok"></i> 每次导入请先下载模板
						</button>
                     </div>

					<button class="btn btn-sm"
						onclick="$('#import_teacher-form').submit();" id="btn-upload">
						<i class="icon-ok"></i> 上传
					</button>
					<button class="btn btn-sm" data-dismiss="modal">
						<i class="icon-remove"></i> 取消
					</button>  
				</div>
			</div>
		</div>
	</div>	
	<div id="import_class-modal" class="modal fade" tabindex="-1"
		role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="blue bigger">批量导入班级</h4>
				</div>
				<div class="modal-body overflow-visible">
					<form class="form-inline"
						action="${ctx}/class/import" 
						id="import_class-form" method="post">
								<div id="text_schoolNo">
								<label class="col-sm-3 control-label no-padding-right" >学校编号：</label>
									<div class="col-sm-7">
										<input name="school_no" value="" id="class_schoolNo"
											type="text" class="input-small" />
								</div>
								</div>
                    			<div class="form-group" id="class-upload">
									<label class="col-sm-5 control-label no-padding-right">导入班级:</label>
									<div class="col-sm-7">
										<input class="input-file uniform_on"
											id="class-file" type="file"/> 
									</div>
								</div>
								<input type="hidden" id="class-fileUrl" name="class_import_url">	
						
                    </form>						
					
				</div>
				<div class="modal-footer">

                     <div class="btn btn-sm">
                          <a class="btn btn-sm btn-primary" id="btn-download_class" href="${ctx}/static/down/t-class.xls">下载模板</a>
                    </div>

					<button class="btn btn-sm"
						onclick="$('#import_class-form').submit();" id="btn-upload">
						<i class="icon-ok"></i> 上传
					</button>
					<button class="btn btn-sm" data-dismiss="modal">
						<i class="icon-remove"></i> 取消
					</button>  
				</div>
			</div>
		</div>
	</div>					
	
	<div id="add_school-modal" class="modal fade" tabindex="-1"
		role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="blue bigger">新增学校</h4>
				</div>
				<div class="modal-body overflow-visible">
					<form class="form-horizontal"
						action="${ctx}/school/add"
						id="add_school-form" method="post">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="from-group">
									<div class="input-group">
										<label class="col-sm-3 control-label no-padding-right">编号：</label>
										<div class="col-sm-7">
											<input type="text" name="schoolNo" class="col-xs-10 col-sm-5"
												value="" required/>
										</div>
										<label class="col-sm-3 control-label no-padding-right">名称：</label>
										<div class="col-sm-7">
											<input type="text" name="schoolName"
												class="col-xs-10 col-sm-5" value="" />
										</div>
										<!-- <label class="col-sm-3 control-label no-padding-right">地址：</label>
										<div class="col-sm-7">
											<input type="text" name="address"
												class="col-xs-10 col-sm-5" value="" />
										</div> -->
										<label class="col-sm-3 control-label no-padding-right">省份：</label>
														<div class="col-sm-7">
											<select name="provinceId" id="provinceId" style="width:200px;" class="input-no">
												<option value="0">---请选择---</option>
											</select>
										</div>
										<label class="col-sm-3 control-label no-padding-right">市区：</label>
														<div class="col-sm-7">
											<select name="cityId" id="cityId" style="width:200px;" class="input-no">
												<option value="0">---请选择---</option>
											</select>
										</div>
										<label class="col-sm-3 control-label no-padding-right">地级市/镇区：</label>
														<div class="col-sm-7">
											<select name="areaId" id="areaId" style="width:200px;" class="input-no">
												<option value="0">---请选择---</option>
											</select>
										</div>
										<!-- <label class="col-sm-3 control-label no-padding-right">详细地址：</label>
										<div class="col-sm-7">
											<input type="text" name="detailedAddress"
												class="col-xs-10 col-sm-5" value="" />
										</div> -->
										<label class="col-sm-3 control-label no-padding-right">邮政编码：</label>
										<div class="col-sm-7">
											<input type="text" name="postalCode"
												class="col-xs-10 col-sm-5" value="" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-sm btn-info"
						onclick="$('#add_school-form').submit();">
						<i class="icon-ok"></i> 提交
					</button>
					<button class="btn btn-sm" data-dismiss="modal">
						<i class="icon-remove"></i> 取消
					</button>
				</div>
			</div>
		</div>
	</div>	

	
	
				<div class="row">
					<div class="col-xs-12">
						<div class="table-responsive">
							<table id="sample-table-1"
								class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<!-- <th class="center"><label> <input type="checkbox"
												class="ace" /> <span class="lbl"></span>
										</label></th> -->
										<th>编号</th>
										<th>名称</th>
										<th>地址</th>
										<th>邮政编码</th>
										<th></th>	
										<th></th>									
										<th></th>									
										<th></th>									
									</tr>
								</thead>
								<tbody>
									<#list schoolInfoList as schoolInfo>
									<tr>
										<!-- <td class="center"><label> <input type="checkbox"
												class="ace" /> <span class="lbl"></span>
										</label></td> -->
										<td>${schoolInfo.schoolNo}</td>
										<td>${schoolInfo.schoolName}</td>
										<td>${schoolInfo.address}</td>
										<td>
											${schoolInfo.postalCode}
										</td>

										<td>
											<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
												<button class="btn btn-sm btn-purple"
													onclick="importClass('${schoolInfo.schoolNo}')"
													data-rel="tooltip">
													<span> <i class="icon-edit bigger-120"></i>导入班级
													</span>
												</button>
											</div>
										</td>
										<td>
											<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
												<button class="btn btn-sm btn-purple"
													onclick="importTeacher('${schoolInfo.id}')"
													data-rel="tooltip">
													<span> <i class="icon-edit bigger-120"></i>导入教师
													</span>
												</button>
											</div>
										</td>
										<td>										
											<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
												<button class="btn btn-sm btn-purple"
													onclick="editschool('${schoolInfo.id}')"
													data-rel="tooltip">
													<span> <i class="icon-edit bigger-120"></i>编辑
													</span>
												</button>
											</div>
										</td>
										<td>
 											<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
												<button class="btn btn-sm btn-danger"
													onclick="deleteschool('${schoolInfo.id}')"
													data-rel="tooltip">
													<span> <i class="icon-trash bigger-120"></i>删除
													</span>
												</button>
											</div> 
										</td> 
									</tr>
									</#list>
								</tbody>
							</table>
						</div>
						<#include "/common/common_page.html">
						<!-- /.table-responsive -->
					</div>
					<!-- /span -->
				</div>
				<!-- /row -->
				<!-- PAGE CONTENT ENDS -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->

	<a href="#" id="btn-scroll-up"
		class="btn-scroll-up btn btn-sm btn-inverse"> <i
		class="icon-double-angle-up icon-only bigger-110"></i>
	</a>
	<div id="edit_school-modal" class="modal fade" tabindex="-1"
		role="dialog" >
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="blue bigger">编辑学校</h4>
				</div>

				<div class="modal-body overflow-visible">
					<form id="edit_school-form" class="form-horizontal"
						role="form" action="${ctx}/school/ajax/edit" method="post"></form>
				</div>

				<div class="modal-footer">
					<button class="btn btn-sm btn-info"
						onclick="$('#edit_school-form').submit();">
						<i class="icon-ok"></i> 保存
					</button>
					<button class="btn btn-sm" data-dismiss="modal">
						<i class="icon-remove"></i> 取消
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- inline scripts related to this page -->
	<script type="text/javascript">
	function deleteschool(id) {
	$.messager.confirm("删除学校", "确定要删除该学校信息吗!", function() {
		window.open("${ctx}/school/delete?id=" + id,"_self");
	});
	}
	function importClass(schoolNo) {
				 
		$('#import_class-modal').modal('show');		
		$('#class_schoolNo').val(schoolNo);
		$('#text_schoolNo').hide();
	}
	function importTeacher(id) {
				 
		$('#import_teacher-modal').modal('show');		
		$('#export_school_id').val(id);
		$('#teacher-school_id').val(id);
	}
	function editschool(id) {
	$('#edit_school-modal').modal('show');
	$('#edit_school-form').load(
			"${ctx}/school/edit?id=" + id,
			function() {	
			}
		);
    }

	$(function() {
$('#teacher-file').uploadify(
					{
						'swf' : '${ctx}/static/swf/uploadify.swf',
						'uploader':'${ctx}/common/excelupload',
						'buttonText' : '选择要上传的EXCEL',
						'method' : 'post',
						'fileTypeExts' : '*.xls;*.xlsx;',
						'fileObjName' : 'file',
						'multi' : true,
						'onUploadSuccess' : function(file, data, response) {
							data = $.parseJSON(data);
							if (data.status == 1) {
								/* $('#add_service_area-imageUrlView').text(
										data.data.image_uri);
										alert(data.data.fileurl);
										alert(data.data.fileuri);
										*/
								$('#teacher-fileUrl').val(
										data.data.fileurl); 
										
							} else {
								alert(data.errormsg);
							}
						},
					});
$('#class-file').uploadify(
					{
						'swf' : '${ctx}/static/swf/uploadify.swf',
						'uploader':'${ctx}/common/excelupload',
						'buttonText' : '选择要上传的EXCEL',
						'method' : 'post',
						'fileTypeExts' : '*.xls;*.xlsx;',
						'fileObjName' : 'file',
						'multi' : true,
						'onUploadSuccess' : function(file, data, response) {
							data = $.parseJSON(data);
							if (data.status == 1) {
								/* $('#add_service_area-imageUrlView').text(
										data.data.image_uri);
										alert(data.data.fileurl);
										alert(data.data.fileuri);
										*/
								$('#class-fileUrl').val(
										data.data.fileurl); 
										
							} else {
								alert(data.errormsg);
							}
						},
					});
$('#school-file').uploadify(
					{
						'swf' : '${ctx}/static/swf/uploadify.swf',
						'uploader':'${ctx}/common/excelupload',
						'buttonText' : '选择要上传的EXCEL',
						'method' : 'post',
						'fileTypeExts' : '*.xls;*.xlsx;',
						'fileObjName' : 'file',
						'multi' : true,
						'onUploadSuccess' : function(file, data, response) {
							data = $.parseJSON(data);
							if (data.status == 1) {
								/* $('#add_service_area-imageUrlView').text(
										data.data.image_uri);
										alert(data.data.fileurl);
										alert(data.data.fileuri);
										*/
								$('#school-fileUrl').val(
										data.data.fileurl); 
										
							} else {
								alert(data.errormsg);
							}
						},
					});
			$("#import_teacher-form").validate();
			$("#import_teacher-form").bind(
					'submit',
					function() {
						//校验表单
						if (!$(this).valid()) {
							return false;
						}
						ajaxSubmit(this, function(response) {
							response = $.parseJSON(response);
							if (response.status == 1) {
								alert("导入成功！");
								window.location.reload();
							} else {
								alert(response.errormsg);
							}
						});
						return false;
					});
			$("#import_class-form").validate();
			$("#import_class-form").bind(
					'submit',
					function() {
						//校验表单
						if (!$(this).valid()) {
							return false;
						}
						ajaxSubmit(this, function(response) {
							response = $.parseJSON(response);
							if (response.status == 1) {
								alert("导入成功！");
								window.location.reload();
							} else {
								alert(response.errormsg);
							}
						});
						return false;
					});
			$("#import_school-form").validate();
			$("#import_school-form").bind(
					'submit',
					function() {
						//校验表单
						if (!$(this).valid()) {
							return false;
						}
						ajaxSubmit(this, function(response) {
							response = $.parseJSON(response);
							if (response.status == 1) {
								alert("导入成功！");
								window.location.reload();
							} else {
								alert(response.errormsg);
							}
						});
						return false;
					});
			$("#add_school-form").validate();
			$("#add_school-form").bind(
					'submit',
					function() {
						//校验表单
						if (!$(this).valid()) {
							return false;
						}
						ajaxSubmit(this, function(response) {
							response = $.parseJSON(response);
							if (response.status == 1) {
								alert("添加成功！");
								window.location.reload();
							} else {
								alert(response.errormsg);
							}
						});
						return false;
					});
			$("#edit_school-form").validate();
			$("#edit_school-form").bind(
					'submit',
					function() {
						//校验表单
						if (!$(this).valid()) {
							return false;
						}
						ajaxSubmit(this, function(response) {
							response = $.parseJSON(response);
							if (response.status == 1) {
								alert("修改成功！");
								window.location.reload();
							} else {
								alert(response.errormsg);
							}
						});
						return false;
					});
	});
	var status = 0;	
	$("#provinceId").focus(function(){ 
		if(status == 1) return;
		status = 1;
		var href = "${ctx}/school/get_province_list";
				$.ajax({
					url: href,
					async: false,
					type: "GET",
					data: {
						sss: ""
					},
					success: function(data) {
						
						data = $.parseJSON(data);
						result = data.data.result;
						
						var chapter = document.getElementById("provinceId");						
						var chapteOption = "";
						
						chapteOption = "<option value=0>---请选择---</option>";
						
						for (var i in result) {
							chapteOption += "<option value=" + result[i].provinceId + ">" + result[i].province + "</option>";
						}
						chapter.innerHTML = chapteOption;
					}
				});

	});
	$("#provinceId").change(function(){ 
		var href = "${ctx}/school/get_city_list";
		var provinceId = $("#provinceId option:selected").val(); 		
		
				 $.ajax({
					url: href,
					async: false,
					type: "GET",
					data: {
						provinceId: provinceId
					},
					success: function(data) {
						
						data = $.parseJSON(data);
						result = data.data.result;
						
						var chapter = document.getElementById("cityId");					
						var chapteOption = "";
						for (var i in result) {
							chapteOption += "<option value=" + result[i].cityId + ">" + result[i].city + "</option>";
						}
						if(result.length == 0) {
							chapter.innerHTML = "<option value=0>-----------------------</option>";
						}else chapter.innerHTML = chapteOption;
					}
				}); 
			cityChange();

	});
	 $("#cityId").change(cityChange); 
	function cityChange(){ 
	
		var href = "${ctx}/school/get_area_list";
		var selected = $("#cityId option:selected");
		var cityId = 0;		
		//alert(selected.length)
		if(selected.length>0)	cityId = selected.val(); 
		
				 $.ajax({
					url: href,
					async: false,
					type: "GET",
					data: {
						cityId: cityId
					},
					success: function(data) {
						
						data = $.parseJSON(data);
						result = data.data.result;
						
						var chapter = document.getElementById("areaId");					
						var chapteOption = "";
						for (var i in result) {
							chapteOption += "<option value=" + result[i].areaId + ">" + result[i].area + "</option>";
						}
						
						if(result.length == 0) {
							chapter.innerHTML = "<option value=0>-----------------------</option>";
						}else chapter.innerHTML = chapteOption;
					}
				}); 
	}
	

	</script>
	
</body>
</html>
