
	
<div class="row">
	<div class="col-xs-12">
		<div class="table-responsive">
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
<!-- 						<th>老师工号</th> -->
						<#if userType==0>
						<th>学校</th>
						<th>教师</th>
						</#if>
						<th>年级班号</th>
						<!--<th>班号</th>-->
<!-- 						<th>题目编号</th> -->
<!-- 						<th>描述</th> -->
						 
<!-- 						<th>章</th> -->
<!-- 						<th>节</th> -->
<!-- 						<th>知识点</th> -->
						<th>发布时间</th>
						<th>截止时间</th>				
					</tr>
				</thead>
				<tbody>
					<#list homeworkInfoList as homeworkInfo>
					<tr>
<!-- 						<td>${homeworkInfo.teacherNo}</td> -->
<!-- 						<td>${homeworkInfo.teacherName}</td> -->
						<!--<td>${homeworkInfo.classGrade}</td>-->
						<#if userType==0>
							<td>${homeworkInfo.schoolName}</td>
							<td>${homeworkInfo.teacherName}</td>
						</#if>
						<td>
							<#list homeworkInfo.gradeClass as gradeClazz>
								高${gradeClazz.grade}(${gradeClazz.class})班、
							</#list>
						</td>
<!-- 						<td>${homeworkInfo.questionId}</td> -->
<!-- 						<td>${homeworkInfo.questionDesc}</td> -->
					 
<!-- 						<td>${homeworkInfo.chapter}</td> -->
<!-- 						<td>${homeworkInfo.section}</td> -->
<!-- 						<td>${homeworkInfo.knowledgePoint}</td> -->
						<td>${homeworkInfo.publishDate}</td>
						<td>${homeworkInfo.expirationDate}</td>

					</tr>
					</#list>
				</tbody>
			</table>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /span -->
</div>
	