<div class="row">
	<div class="col-xs-12">
		<div class="table-responsive">
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>题目编号</th>
						<th>举报人</th>
						<th>类型</th>
						<th>详情</th>
						<th>时间</th>
					</tr>
				</thead>
				<tbody>
					<#list reportQuestionList as reportQuestion>
						<tr>
							<td>${reportQuestion.questionId}</td>
							<td>${reportQuestion.userName}</td>
							<td>${reportQuestion.type}</td>
							<td>${reportQuestion.detail}</td>
							<td>${reportQuestion.createTime}</td>

						</tr>
					</#list>
				</tbody>
			</table>
		</div>
		<#include "/common/common_page.html">
		<!-- /.table-responsive -->
	</div>
	<!-- /span -->
</div>